<app-budget-plan-table
  [budgetPlans]="budgetPlans"
  [selection]="selectedBudgetPlan ? [selectedBudgetPlan] : []"
  (budgetPlanEdit)="editBudgetPlan($event)"
  (budgetPlanSelect)="onBudgetPlanSelect($event)"
  (budgetPlanUnselect)="onBudgetPlanUnselect()">
  <ng-container ngProjectAs="buttons">
    <p-button size="small" icon="pi pi-plus" class="pr-2" label="Créer" (onClick)="showBudgetPlanDialog = true" />
  </ng-container>
</app-budget-plan-table>

@if (selectedBudgetPlan) {
  <app-budget-category-chart [budgetCategories]="budgetCategories"></app-budget-category-chart>
  <app-budget-category-table [budgetCategories]="budgetCategories" (budgetCategoryUpdate)="editBudgetCategory($event)">
    <ng-container ngProjectAs="buttons">
      <p-button size="small" icon="pi pi-plus" class="pr-2" label="Créer" (onClick)="showBudgetCategoryDialog = true" />
    </ng-container>
  </app-budget-category-table>
}

@if (selectedBudgetPlan) {
  <app-budget-transaction-table [budgetTransactions]="budgetTransactions" [budgetCategories]="budgetCategories" (budgetTransactionUpdate)="editBudgetTransaction($event)">
    <ng-container ngProjectAs="buttons">
      <p-button
        size="small"
        icon="pi pi-plus"
        class="pr-2"
        label="Créer"
        (onClick)="showBudgetTransactionDialog = true" />
    </ng-container>
  </app-budget-transaction-table>
}

<app-budget-plan-create-dialog [(visible)]="showBudgetPlanDialog" (save)="createBudgetPlan($event)">
</app-budget-plan-create-dialog>

@if (selectedBudgetPlan !== undefined) {
  <app-budget-category-create-dialog
    [(visible)]="showBudgetCategoryDialog"
    [budgetPlan]="selectedBudgetPlan!"
    (save)="createBudgetCategory($event)">
  </app-budget-category-create-dialog>
}

<app-budget-transaction-create-dialog
  [(visible)]="showBudgetTransactionDialog"
  [budgetCategories]="budgetCategories"
  (save)="createBudgetTransaction($event)">
</app-budget-transaction-create-dialog>
